<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yongyong.chat.selected">

    <application>
        <activity android:name=".activity.MultimediaSelectedActivity" />
        <activity android:name=".activity.MultimediaPreviewActivity" />
    </application>
</manifest>